﻿@model StatisticsAPI.ViewModel.AdvancedVM 
@using StatisticsAPI.ViewModel
@using System.Globalization
@using System.Data 

<h1>Patients that Contracted Malaria</h1>
<div>
    @using (Html.BeginForm("Advanced", "Home", FormMethod.Post))
    {
        <label>Select Malaria Plasmodium</label>
        @Html.DropDownListFor(m => m.SelectedMalariaID, Model.Malaria, "--Please select--", new { @class = "form-control" })
        <label>Diagnoses From (start date): </label>
        @Html.TextBoxFor(m => m.DateFrom, "yyyy-MM-dd", new { @value = "2018-08-01", @type = "date", @class = "form-control" })
        <label>Diagnoses To (end date): </label>
        @Html.TextBoxFor(m => m.DateTo, "yyyy-MM-dd", new { @value = "2018-10-01", @type = "date", @class = "form-control" })
        <br />
        <input type="submit" value="Generate" class="btn btn-primary" />
    }
</div>
<br />

@*When criteria Has been slelected an the report must be produced*@
@if (Model.malariaR != null)
{
    <div class="panel panel-success">
        <div class="panel-heading"><strong>Malaria Details: </strong>@Model.malariaR.Malaria_Name</div>
        <div class="panel-body">
            <label> Malaria Name </label>&nbsp; @Model.malariaR.Malaria_Name<br />
            <label>Malaria Description </label> &nbsp; @Model.malariaR.Malaria_description<br />
            <label>Treatment Type </label> &nbsp; @Model.malariaR.Treatment

        </div>

    </div>

    //2nd Panel Shows the chart
    <div class="panel">
        @if (Model.ChartData != null)
        {
            //Load the Result of the TreatmentMalariaTypeChart view into an image
            //Making a call to the TreatmentMalariaTypeChart controller action
            <img src="@Url.Action("TreatmentMalariaTypeChart", "Home")"/>
        }
    </div>

    //Details of Patients and their Malaria-Causing Plasmodium types
    <div class="panel panel-info">
        @foreach (var group in Model.results)
        {
            <h4>@group.Key: </h4>
            <table class="table table-striped">
                <tr>
                    <th>Patient First Name</th>
                    <th>Patient Last Name</th>
                    <th>Diagnosis Date</th>
                    <th>Malaria-causing Plasmodium</th>
                    <th>Malaria-causing Plasmodium Description</th>
                    <th>Treatment Name</th>
                    @*<th>Malaria ID</th>*@
                </tr>
                @foreach (AdvancedVM.ReportRecord groupItem in group)
                {
                    <tr>
                        <td>@groupItem.Patient_FName</td>
                        <td>@groupItem.Patient_LName</td>
                        <td>@groupItem.Diagnosis_Date</td>
                        <td>@groupItem.Malaria_Name</td>
                        <td>@groupItem.Malaria_Description</td>
                        <td>@groupItem.Treatment_Name</td>
                        @*<td>@groupItem.MalariaID</td>*@
                    </tr>
                }
            </table>
        }

    </div>

    //Now we call the Export Actions that will download the Reports in PDF 
    <div>
        @Html.ActionLink("Export as PDF", "ExportPDF", "Home")<br />
        @Html.ActionLink("Export as Word", "ExportWord", "Home")
    </div>
}
